{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Events Assistant</h1>
    <h3> Lyric Theatre</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Events Assistant We are looking to appoint this key position in our award winning new theatre. <br>
        Please click on the download button for an application pack. <br>
        Alternatively you can email Cat Rice via the contact links or by phone **** **** Closing date for applications: Friday 18th January 2013  5pm The Lyric Theatre is an equal opportunities employer.<br>
    </p>
</div>
</div>
{% endblock %}