{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Publishing Creative Artworker</h1>
    <h3> Network Recruitment</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Hot off the press A prestigious Central Londonbased publishing company has an immediate need for a talented and versatile creative artworker. <br>
        The ideal creative artworker not only must have a solid print knowledge combined with an eye for detail but also have pin point accuracy as most of the work is working on a wide range of magazines, legal documents and publications. <br>
        Must have magazine and brochure experience and an expressed enthusiasm in editorial and publishing would be advantageous. <br>
        This firm does some topnotch work and this vacancy represents a fantastic opportunity for the right person to make a real impact at a highly respected firm. <br>
        If you are the right person for this role, please send your CV and work examples immediatly To receive uptotheminute job info, just follow us on at Twitter.com/networkrecruit Network is acting as an Employment Agency in relation to this vacancy and is an Equal Opportunities and Age Positive Employer. <br>
    </p>
</div>
</div>
{% endblock %}