{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Canvass Manager</h1>
    <h3> anglian</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        We require an experienced canvassing manager preferably with Home Improvement experience.<br>
        The ideal candidate would have access to an established canvassing team ready to hit the ground running. <br>
        Your duties would be to find and train new recruits and hit company set targets. <br>
        You will be working in areas where we have already installed. <br>
        Full support will be provided for you and your team, including fuel and transport. <br>
        You can apply for this job by sending a CV to beestonshowroomangliangroup.com or calling Adam on **** **** <br>
    </p>
</div>
</div>
{% endblock %}