{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Sales/Lead Generation Executive </h1>
    <h3> Think Methodology Ltd </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Company Overview Think Methodology delivers a lead management and lead generation solution for some of the country’s leading organisations that increases sales performance and uses datadriven intervention strategies to acquire, retain and reactivate customers. <br>
        We deploy multichannel communications including email, direct mail, SMS and online marketing campaigns to drive high value sales opportunities that have the highest propensity to convert. <br>
        Role: Lead Generation Executive (Channel Manager) Job Purpose : To develop relationships with our clients prospect base ultimately delivering high quality sales opportunities. <br>
        Duties:  Making outbound telephone calls on behalf of the client, supported by email and direct mail campaigns (produced by our inhouse creative team) to generate appointments, leads or attendees or to cleanse data records. <br>
        Working with Team Leader to promote brand awareness so that every opportunity to meet the client needs is taken. <br>
        Keep abreast of the latest market information so that you can promote the brand in the most accurate way  Ability to speak confidently and accurately to a varying degree of Decision Maker  Accurately take down and pass on details of prospect customers to the Telemarketing Team Leader/ Account Manager to be sent through to the client  Keep a cleansed, manageable and up to date database  <br>
        Effectively and efficiently complete work allocated by Team Leader  Build good relationships with clients sales representatives and efficiently and effectively manage their time  Maintains relationships with clients by providing support, information, and guidance; researching and recommending new opportunities; recommending profit and service improvements. <br>
        Prepares reports by collecting, analysing , and summarising information.  <br>
        Deal with inbound prospect customer queries and if appropriate resolve prospect customer complaints  Ensure the timely escalation of issues to the Team Leader as appropriate  Proactively pursue selfdevelopment opportunities within the Agency  Contributes to team effort by accomplishing related results as needed.  <br>
        Assume joint responsibility for regularly reviewing performance and personal development  Discuss career aspirations and agree Personal Development Plan with Team Leader In addition to the duties and responsibilities listed, the job holder is required to perform other duties as assigned by their Manager from time to time. <br>
        Skills/Qualifications: Presentation Skills, Client Relationships, Emphasising Excellence, Negotiation, Prospecting Skills, Meeting Sales Goals, Creativity, Sales Planning, Independence, Motivation for Sales <br>
    </p>
</div>
</div>
{% endblock %}