{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Apprentice Sales Marketing Executive </h1>
    <h3> Optimas Training </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        This is an exciting opportunity to join a local company as their new apprentice The successful candidate will have a career progression opportunity along with sufficient training and development and the chance to enhance their skills in a fun and lively environment. <br>
        In return you should be confident, articulate and have grades D or above in English and Maths GCSE. <br>
        This is a general sales role within a busy, well established asset finance company. <br>
        Duties will include: Calling existing contacts Calling new business (sourced through cold call telemarketing) Existing account management Collating client information for underwriting Closing sales Coordination the execution of correct documentation Please send your CV to Whitney at westmidlandsoptimastraining.co.uk should you wish to apply. <br>
        Please note all applicants should be aged between **** and **** for funding purposes, but all applicants may apply.<br>
    </p>
</div>
</div>
{% endblock %}