{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Term Time only  Senior Nursery Nurse/Early Years Practitioner</h1>
    <h3> People Personnel</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Our client requires a Senior Nursery Nurse/ Early Years practitioner to provide the highest level of care for children attending the nursery, under the guidance of senior staff. <br>
        This position could be term time or flexible hours and is based in the **** room. <br>
        KEY TASKS To provide a positive practice role model to ensure that values are maintained. <br>
        To supervise and support children at all times. <br>
        To contribute to maintaining an attractive and welcoming environment. <br>
        To prepare and supervise activities under the guidance of senior staff. <br>
        To assume key carer responsibilities for designated children and assume responsibility as and when required. <br>
        Read, understand and implement all company policies, procedures and operational practices. <br>
        To work as part of a team to ensure that values are maintained. <br>
        Excellent salary and work conditions. <br>
        For further information please contact us<br>
    </p>
</div>
</div>
{% endblock %}