{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Year 5 Teacher</h1>
    <h3> Balfor Education</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Are you a Year **** Teacher looking for a new role at the end of this half term at an excellent central Birmingham Primary School? <br>
        Would you like to work for a dedicated leadership team that provides some of the best Key Stage 2 Education in the North of Birmingham? <br>
        Are you excited about the prospect of spending the next year teaching in KS2 at a school graded as Outstanding by Ofsted? <br>
        If the answer to these questions is yes, keep reading? ****  **** per day Long Term Contract  until July 201**** Excellent Primary School 3 Form Entry Multi Cultural School Excellent Transport Links Friendly and Supportive Leadership Team <br>
        If you are an excellent Teacher, looking for a long term contract, then this could be the perfect opportunity for you My client school, a dedicated and successful Erdington Primary School is looking for a new Year 5 Teacher to arrive at the latest January 2013 and take an intelligent and energetic Year 5 classCould this be you? <br>
        The school itself is in a modern and spacious building with large sized classrooms and a real sense of making learning fun for the pupils. <br>
        The students that attend this primary school are from a wide and diverse multi cultural background and are at a low level of literacy when they begin at the school. <br>
        This literacy basis is the foundation of the schools education and due to the concentrated efforts throughout the school years, this excellent teaching ensures the pupils gain well above the national average in literacy by the end of Key Stage 2. <br>
        The curriculum run at this school is a very creative one, it creates a real love of learning for the school and really makes this school a fantastic place to work. <br>
        The Leadership Team have made learning enjoyable for these pupils and it really shows. <br>
        The Year 5 class in particular is a very good one, it has a number of very intelligent pupils who really help with bringing even the lower ability pupils to progress. <br>
        One pupil in this class has statemented SEN and as the new Year 5 Teacher you will be required to plan and differentiate to ensure every pupil gains the most out of their education. <br>
        If you are interested in this excellent Year 5 Vacancy, then please forward your CV in the first instance primary teacher junior teacher ks2 teacher ks 2 teacher
    </p>
</div>
</div>
{% endblock %}