{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Year **** (Literacy Numeracy Support) Teacher in Wandsworth</h1>
    <h3> Tradewind Recruitment</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        ear **** (Literacy is a team player and has good written and spoken English. <br>
        You will have excellent communication skills and the ability to communicate with parents from varied social and economic backgrounds. <br>
        You will be a teacher who is passionate about working with children. <br>
        You will organise appropriate support for any child or children with special needs and fully understand the school’s Child Protection policy. <br>
        Please submit your CV as soon as possible to be considered for this great role APPLICATION REQUIREMENTS: <br>
        • You must have the legal right to work in the UK • You must hold QTS or a UK recognised equivalent teaching qualification <br>
        • This position is subject to an Enhanced CRB Disclosure, Overseas Police Clearances (if applicable) and professional reference checks <br>
        • Your CV must cover the last 10 years of employment history where possible and any employment breaks must be explained DISCLAIMER ‘No terminology in the above advertisement is intended to discriminate on the grounds of age, gender, race, colour, religion, disability or sexual orientation. <br>
        Tradewind Recruitment is proud to be an Equal Opportunities Employer and accepts applications from all sections of the community.’<br>
    </p>
</div>
</div>
{% endblock %}