{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Teacher of Psychology</h1>
    <h3> Strategy Education</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Strategy Education requires a teacher of Psychology for secondary school in North London to start with them in January 2013. <br>
        The ideal candidate should be an experienced teacher and be confident with the delivery of A Level Psychology The successful candidate will be subject to a variety of checks including, eligibility to work in the UK an enhanced CRB disclosure and full references including one from your most recent employer. <br>
        Strategy Education is committed to safeguarding and promoting the welfare of children and young people and expects all staff and volunteers to share this commitment Interested in further details? Please send your CV without delay<br>
    </p>
</div>
</div>
{% endblock %}