{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Secondary Supply Teacher</h1>
    <h3> Vision For Education   Huddersfield</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Vision for Education have an ongoing demand for qualified teachers in the West Yorkshire area for a variety of short and long term contracts. <br>
        All applicants need to hold Qualified Teacher Status within the UK and ideally have recent experience working in a teaching capacity. <br>
        The nature of the role requires flexibility and the ability to adapt to a variety of different school as required. <br>
        Whether you are an NQT or experienced teacher, Vision for Education have the placement to suit you. <br>
        All applicants will need to hold a current and portable Enhanced CRB or be willing to apply for a new one. <br>
        Our ethos is to serve the education community to the highest possible standard and look forward to hearing from you. Please apply below<br>
    </p>
</div>
</div>
{% endblock %}