{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Senior Waiter</h1>
    <h3> Cotswold Catering Services Ltd</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        My client is looking for a dedicated waiting professional for their top of the range restaurant. <br>
        This prestigous hotel boast's some of the finest food and wines so a broad knowledge of wines and food is essential. <br>
        You will be well groomed and well spoken. <br>
        This position is not live in so transport is essential. <br>
        I am able to arrange immediate interviews for the ideal candidate. <br>
        Cotswold Catering Services are always looking for catering professionals for high end establishments. <br>
        Please only apply if you are eligible to live and work within the UK. <br>
    </p>
</div>
</div>
{% endblock %}