{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Chef de Partie  Gastro Pub  NrPeterborough </h1>
    <h3> Gold Leaf Recruitment </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Chef de Partie – Gastro Pub Chef de Partie Basic salary to **** Excellent tips All meals on duty Company benefits Our client is looking for a passionate chef de Partie who wants to be part of a small dedicated team of young chefs producing modern exciting dishes in this popular gastro pub serving innovative take on British classics. <br>
        The Head chef has a strong pedigree with lots of passion wants an equally passionate chef de partie to assist him in running the kitchen This is a popular food destination that has built up an excellent trade with a good reputation in the local area using amazing fresh local seasonal produce at its best. <br>
        As Chef de Partie you will support the head sous chef in managing running the kitchen with some senior responsibilities during the week. <br>
        You will have input on new dishes get to work on all sections The ideal chef de partie will have at least 1 years previous experience within a quality fresh food environment <br>
        This job was originally posted as www.caterer.com/JobSeeking/ChefdePartieGastroPubNrPeterborough_job**** <br>
    </p>
</div>
</div>
{% endblock %}