{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Sales Manager  West Sussex  Hotel / Leisure Venue</h1>
    <h3> James Webber Recruitment</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Sales Manager  Immediate Start My client is a leading Central London hotel currently recruiting for a Sales Manager with excellent proactive business development and account management experience for their **** , 120bed West Sussex flagship property. <br>
        The property has 120 bedrooms with extensive M E facilities catering for up for up to ****pax. <br>
        The Role: Sales Manager Role Criteria The ideal Sales Manager will have previous **** hotel experience within the Central London market overseeing both Corporate and MICE Sales Manager will be responsible for client show rounds, selling all facilities of the hotel and client entertainment and management <br>
        The successful applicant will be reporting directly into the DOS Sales Manager must be highly customer focused, have exceptional communication skills and the ability to influence at Director level <br>
        If you are the ideal Sales Manager then please do not hesitate to apply. <br>
        James Webber Recruitment prides itself on providing the highest quality of hotel / restaurant staff and due to the high volume of applicants, please note that we will only be in contact with you if your application is successful. <br>
        ONLY CANDIDATES ELIGIBLE TO LIVE AND WORK IN THE UK MAY APPLY. <br>
        This job was originally posted as www.caterer.com/JobSeeking/SalesManagerWestSussexHotelLeisureVenue_job****
    </p>
</div>
</div>
{% endblock %}