{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Assistant Manager  Restaurant  West End </h1>
    <h3> Bee Recruitment London Ltd </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Assistant Manager, Assistant Restaurant Manager  Award Winning Branded Restaurant group. <br>
        ****K  ****K Package This award winning company offers brilliant training s built its reputation as the best restaurant group to work for in the UK. Their continuing success is down to how they treat their Managers and the people focused culture they have created. <br>
        The Person  You must have big passion and personality and love people. <br>
        We are looking for a fantastic Assistant Manager with at least ****year s Management experience from a fast moving, handson, structured role within the restaurant/retail industry. <br>
        We need Assistant Managers with great leadership skills and the ability to inspire people around you. <br>
        The Role  To lead and inspire your team Where looking for a Assistant Manager with a great cando attitude, where you go out of your way to help train and develop others around you. <br>
        You will always ensure great levels of service and lead and motivate your team by example using your own energy and passion to achieve goals. <br>
        Benefits  Assistant Manager Up to ****k basic plus Great Bonus potential (****k ) 9 weeks training in a Centre of Excellence ****hr working weeks (Work / Life Balance) You will be part of one of the UK strongest, developing companies Please send your CV to rorybeerec.com or call Rory on **** **** Candidate Information Bee Recruitment is an equal opportunities employer, recruiting as a recruitment agency for the Hospitality Industry. <br>
        All candidates must provide proof of identity and eligibility to work in the UK along with any relevant supporting qualifications <br>
    </p>
</div>
</div>
{% endblock %}