{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Electrical Technician </h1>
    <h3> Petrie Recruitment </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Job Elements:   Building automated machinery from the ground up  Following engineering drawings to complete the Mechanical assembly.  <br>
        Completing electrical wiring  Building electrical cabinets  PLC installation  Installation/Wiring of motors, drives and inverters.  <br>
        Completing machine testing and faultfinding.  <br>
        Assisting clients with acceptance testing  Installation of machines in clients premises  <br>
        Completion of any commissioning, acceptance testing required by clients  Offering clients advice/faultfinding support via telephone, email and customer visits when required. <br>
        The ideal candidate will have:  Minimum ONC level education in Electrical Engineering  Experience of PLC, inverters and drives  Mechanical skills  Good communication skills and a willingness to be 'customer facing'.  <br>
        Willingness to travel (mainly UK based) as and when required.  <br>
        Experience of machinery build/servicing For further vacancies, please visit www.petrie.co.uk <br>
        Follow us on Twitter Or receive updates via our Facebook page  'Petrie Recruitment' <br>
    </p>
</div>
</div>
{% endblock %}