{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Project Engineer </h1>
    <h3> Asset Appointments </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        The Company: Our client is a multi disciplined Engineering business that provides an extensive range of manufacturing services and innovative solutions to numerous OEMs in market sectors that include Oil Scheduling and monitoring programme activity to achieve an ontime result, including followups with internal Monitoring program cost activity to achieve a within budget result.<br>
        Contract review to ensure the scope is as quoted Creating bills of materials, detailed instructions for manufacturing processes of new parts and specifications for external supplier processes. <br>
        Ensuring that effective communication channels are maintained with the clients. <br>
        Coordinate the collection and dissemination of technical and schedule information within the company, and between our sub suppliers and the customers. <br>
        Assisting in the pricing, estimating and scoping of proposed projects, and in the development and preparation of technical specifications. <br>
        The control of workinprogress (both internal and external) and the management of the associated Purchase Orders within the Supply Chain.) The Individual: Experience in Fabrication and Welding in a subcontract environment. <br>
        An in depth knowledge of associated Engineering disciplines. <br>
        Proficiency in the use of Microsoft Project, Excel, Word Excellent numerical and literacy skills. Excellent communication and interpersonal skills. <br>
        A methodical and analytical approach to problem solving. <br>
        A commitment to Continuous Improvement and Lean Manufacturing The ability to work with multiple priorities and be able to deliver in time critical circumstances. <br>
        A team player, but also comfortable with working independently<br>
    </p>
</div>
</div>
{% endblock %}