{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main" class="p-top-100">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Environment, Health and Safety Officer</h1>
    <h3> Petrie Recruitment</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Job Elements:   We are currently looking for an Environment, Health and Safety Officer on Day shift to join the Environment, Health and Safety team.  <br>
        Reporting to the Health, Safety and Risk Manager, the successful candidate will provide an advisory and support service to all areas of the company on environmental, health and safety issues and assist the company in maintaining full legal compliance, whilst promoting best practice throughout the company.  <br>
        Assisting in the effective management of the Environmental Management System (EMS) and Safety Management System (SMS)  <br>
        Implementing controls and precautions in line with the requirements of the EMS and SMS  Advising management on changes to relevant legislation and the impacts on the company  <br>
        Supporting the EHS Manager and the EHS team in achieving strategic EHS goals  <br>
        Conducting internal EHS system and tactical internal audits in line with the company schedule  Deputising for the Health, Safety and Risk Manager as required  Reporting statistical data to management as required  <br>
        Conducting internal checks of the life safety systems  <br>
        Active member of the Safety Task Force (Safety Committee)  Liaising with external bodies including the Health and Safety Executive, Environment Agency, and Local Authority  <br>
        Organising and delivering internal EHS training courses, including train the trainer courses The ideal candidate will have:  NEBOSH General Certificate as minimum, NEBOSH Diploma (NVQ Level 5) highly desirable  IEMA Certificate  <br>
        Proven experience in an industrial or manufacturing environment  Membership of a relevant professional body, e.g. IOSH or IEMA  NEBOSH Diploma (NVQ Level 5) or equivalent  IEMA Certificate  Relevant degree, e.g. Occupational Health and Safety or Environment, Health and Safety.  <br>
        Proven Health, Safety and Environmental management experience For further vacancies, please visit www.petrie.co.uk <br>
        Follow us on Twitter Or receive updates via our Facebook page  'Petrie Recruitment' <br>
    </p>
</div>
</div>
{% endblock %}