{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Senior Developer  CNet  Permanent  Aberdeen  Up to ****k</h1>
    <h3> Migration </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Abrecco are recruiting a Senior C.Net Developer on behalf of our Aberdeen based client. <br>
        Ideally the successful candidate will be technically proficient with C, .Net, Visual Studio, SQL, etc and also have the necessary qualities and experience of supervising/mentoring more junior team members. <br>
        Skills required should include but not be limited to; Essential C.Net, Winforms, .Net Framework Visual Studio SQL, XML Mulitiered Environments Experience of Full Software Development Lifecycle Degree Educated in a relevant Subject Desirable Oracle Web Services Team Foundation Server Mobile Apps Cloud Services Agile Development C, C++, Java, Linq This is an excellent opportunity for an experienced .Net developer to secure a challenging position with an Aberdeen based Software house. <br>
        Please forward your most recent CV in .Doc format for immediate consideration.
    </p>
</div>
</div>
{% endblock %}