{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Injection Moulding Product Designer </h1>
    <h3> Concept IT </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Tooling experience is an advantage <br>
        Automotive experience is as must <br>
        Products manufactured: Exterior trim (grills / bumper parts / brackets) and other products that are not visual on the exterior of the vehicle <br>
        Will be required to meet with clients to understand their design objectives Should you have any further questions or queries please do not hesitate to contact Kira Edwards immediately on [contact details removed] or email [contact details removed]<br>
    </p>
</div>
</div>
{% endblock %}