{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Power Electronics Eng's (Satellite/Spacecraft)</h1>
    <h3> OCC Computer Personnel  Ltd </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Power Electronics  Satellite My satellite client is searching for **** or **** people for Power Electronics contracts roles. <br>
        Following requirements are very important: ****) <br>
        Solid commercial experience working with PCDU. ****) <br>
        Knowledge of Power subsystem architectures and performance. ****) <br>
        Experience of following suppliers (see below) from technical perspective. ****) <br>
        Fluent in English. Here is elaboration to the above: ****) <br>
        You have PCDU experience from working in one of the primes: EADS Astrium or Thales Alenia Space OR from working at PCDUproviders: Astrium CRISA, SELEX, TERMA. <br>
        In ESTEC they follow or 'monitor' industry technology providers, and you may have experience of power electronics this way. <br>
        The candidate shall have work experience from either of these working with PCDUs. ****) <br>
        Some knowledge of power electronics and overall systems/subsystems on satellites ****) <br>
        Role is about supervising / monitoring to make sure suppliers carry out a good job. ****) <br>
        It is a role based in UK. We need to be certain you would be happy to work in UK. <br>
        Please let me have your current CV in Word, along with confirmation of above points. <br>
        Please also confirm contract daily rate in Euros that you would want for a UK long term contract and how soon you could start a new role. <br>
    </p>
</div>
</div>
{% endblock %}