{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Internal IT Sales Storage</h1>
    <h3> Extech 2000 Recruitment Limited</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Major player in IT is seeking an internal sales person from an IT background , ideally with NetApp experience but any IT sales considered to ****k plus up to ****k ote plus benefits. <br>
        Essential: One years in sales, B2B, ideally IT Knowledge of and passionate about hardware and software Enthusiastic, self starter, excellent on the phone, relationship builder, team player. <br>
        Call for further details sales telesales
    </p>
</div>
</div>
{% endblock %}