{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> TELESALES OXFORD US TRAVEL BRAND ****PH</h1>
    <h3> Support Services Group </h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        TELESALES OXFORD ****PH  BONUSES ONGOING TEMP CONTRACT We are seeking an experienced Sales professional to assist a Oxford based client of ours on an ongoing project. <br>
        My client is part of an International travel brand and this role will be based at their offices just outside Oxford. <br>
        Ideal candidates will; ?Have some Telephone sales experience ?Excellent telephone manner ?Be target driven ?Self motivated and KPI focussed ?Available RIGHT AWAY We are looking for a candidate with an open diary and who can commit for at least a good few weeks. <br>
        Office hours are Monday Friday 9am 5.30pm, with **** hour for lunch. <br>
        If you are an exceptional Sales professional looking for some ongoing work and are committed and flexible, then we would love to hear from you To apply you must attach an up to date copy of your CV<br>
    </p>
</div>
</div>
{% endblock %}