{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Account Manager  Electronic Components </h1>
    <h3> White Recruitment Ltd</h3>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Account Manager required with account management experience to join a leading manufacturer of electronic components based in Reading. <br>
        The successful Account Manager / Sales Manager must have previous Contract Electronics Manufacturing (CEM) experience. <br>
        Package Salary: ****K 23 days holiday Pension The role Account Manager to manage the key accounts representing the complete portfolio of company products, and Distributor products. <br>
        Includes the development of customer own brands Manage the full range of products / pricing within the nominated <br>
        Accounts to the sales and margin objectives Provide accurate monthly sales forecasts and management of stock requirement Maximise promotional opportunities <br>
        Presentation development and listings of new product programme <br>
        The Account Manager will be dealing with the Contract Electronics Manufacturing (CEM) industry Requirements Experience as an Account Manager / Sales Manager Contract Electronics Manufacturing (CEM) experience PCB or electronic components knowledge HNC, HND or Degree in electrical engineering or electronic engineering<br>
        If your experience matches please forward your CV immediately White Recruitment Ltd is acting as an Employment Agency in relation to this vacancy

    </p>
</div>
</div>
{% endblock %}