{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Sales Administrator </h1>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Permanent job opportunity for a Sales Administrator to join a large organisation in Basingstoke. <br>
        You will be supporting the sales team by providing quotations, running reports and forecasts, reviewing documentation to ensure correct information is on the system, inputting proposals and ensure the continuation of a high level of customer service. <br>
        You will be working closely with the sales team to ensure the right levels of support. <br>
        Successful candidates will have experience within a sales administration role, have strong numeracy skills as you will be dealing with figures and quotes and have excellent attention to detail and a positive and supportive attitude <br>
    </p>
</div>
</div>
{% endblock %}