{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> New Business Sales  Various  Financial Markets Software or Data </h1>
    <h3>Excelsior Professional Search Ltd</h3>
  </div>
  
  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p> 
        Excelsior Professional Search is a leading executive search and recruitment firm specialising in the financial markets technology re a targeted sales professional in this market it would certainly be beneficial for you to either apply to this posting or contact us for a confidential career discussion with a view to learning if any of these roles would better your current position and earning potential. <br>
        The assignments we re conducting cover the breadth of: Company types: Software vendors, market data ve sold as long as you can demonstrate a strong track record, and others require particular domain experience (such as sell side trading account farming of clients you bring on board. <br>
        Experience: We have a some roles requiring just 2 years sales experience to others requiring over 10 years sales track record. <br> 
        Remuneration: Commensurate with experience consequently meaning high / realistic earning potential for top performing sales people. <br> 
        Note: We are also conducting a number of other global searches for strong sales people in Toronto, Boston, New York, Sao Paulo, South Africa, Zurich, Dubai and Hong Kong, so if you re not based in London but are in one of these locations then please do introduce yourself by applying to this advert or write to confidentialexcelsiorsearch.com. <br>
        Titles: Sales Executive, Sales Consultant, Sales Manager, Sales Director, Business Development Manager, Account Manager, New Business Sales. <br>
    </p>
</div>
</div>
{% endblock %}
