{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}

<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1  id="data-title"> <b> Compliance Manager </b></h1>   
  </div>
  
  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p> 
        Excellent new job and career opportunity for a Financial Services Compliance manager with FSA compliance and operational risk experiencebased in Salisbury. <br>
        Act as the deputy for the Senior Compliance Manager, including committee meeting attendance and new product initiatives Assist in the preparation of departmental MI for quarterly board reporting, CASS Committee and Management Committees. <br>
        Responsible for the review sign off of literature items against FSA Financial Promotions rules  experience of SIPPs and/or wrap products would be preferred. <br>
        Responsible for the review sign off of client facing operational letters to ensure fair, clear and not misleading Responsible for the review sign off of 'requests for information' responses to IFA firms requesting information regarding product ranges to ensure response is fair, clear and not misleading. <br>
        Review of breaches  and identifying whether the breach would be classified as reportable to the FSA. <br>
        Supervision of the Compliance Officer Monitoring regulatory developments  via review of pertinent FSA Consultation Papers and Policy Statements. <br>
        Development drafting of new compliance policies and the review/ updating of existing policies. <br>
        Maintaining the risk assessment for the compliance department Some aspects of compliance monitoring may be involved in particular application of CASS rules for client money and customer assets to the SIPP and Wrap business. <br>
        Knowledge of FSA/Compliance regulations and requirements Excellent attention to detail Ability to work on own initiative where required Good presentation skills Selfmotivated and organised A flexible and proactive approach with the ability to work under the pressure of deadlines Excellent knowledge of Microsoft applications including Word, Excel and Powerpoint Strong written and verbal communication skills Good analytical and problem solving skills  <br>
    </p>
</div>
</div>
{% endblock %}
