{% extends "base.html" %}

{% block links %}
<a href="/login">Login</a>
{% endblock %} 

{% block body %}
<!-- <center>
<img src="../static/images/interview.jpg" class="p-top-100">
</center> -->
<div class="about-jumbotron text-center">
    <h1 class="heading-1"> <b> About Us</b></h1>
</div>
<!-- <img class="card-img-top" src="../static/images/job-accounting.jpg" alt="Card image cap"> -->



<div class="bar">
    <div class="heading-about">
         <h3 class="about-heading-text">Our aim is to encourage everyone to pursue and accomplish their dreams by finding an ideal job for themselves. DigiEmploy welcomes all candidates to explore diverse range of work opportunities from various backgrounds.</h3>
    </div>
</div>


<div class="content-container text-center">
    <p>CONTACT US </p>
    <p>DigiEmploy</p>
    <p>Melbourne, Australia</p>
    <p>s3758167@student.rmit.edu.au </p>
</div>

{% endblock %}