{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> RGN Nurse Job Hertfordshire Outpatients </h1>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        RGN Nurse Job Hertfordshire  Outpatients We have an excellent for a surgical RGN nurse job seeker to work with in an outpatients department in the Hertfordshire area. <br>
        Our client is a respected private hospital, recruiting for a dedicated and professional surgical RGN nurse to provide clinical care with in their outpatients department. <br>
        You will be working with a multidisciplinary team and so you must have excellent communication and problem solving skills. <br>
        This is a rewarding role, where you will be providing a high quality service. <br>
        Benefits include a competitive basic salary, private medical cover, pension scheme, childcare vouchers and transport season ticket loans. <br>
        Requirements:  RGN Qualification  NMC pin and registration  Experience within a surgical setting RGN Nurse Job Hertfordshire  Outpatients<br>
    </p>
</div>
</div>
{% endblock %}