{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Clinical Lead Job Middlesex</h1>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Clinical Lead Job Middlesex Clinical Lead/Deputy Manager posts ****  **** (depending on size of home and experience) ******** per hour Middlesex homes PULSE is working with one of the UK’s largest care home providers to find experienced Clinical Lead/Deputy Managers to oversee / maintain the care of Clients within the Care Centre. <br>
        In the absence of the Home Manager, to take responsibility for the daytoday running of the Care Centre, and ensure that all Company policies and procedures, and all legal requirements, are adhered to within the defined timescales. <br>
        Key responsibilities Care Ensure all Staff Members contribute to the best of their ability to the efficient running of the Care Centre, and to the creation of an atmosphere conductive to the best interests of Clients. <br>
        In a Nursing Care setting, interact with Clients to ensure that their health care needs are being met and resolve any problems where appropriate. <br>
        In a Residential Care setting, liaise with the District Nurse regarding Clients’ health care needs. <br>
        Administer prescribed medicines and maintain the necessary records as per Company guidelines. <br>
        Support and assist the Home Manager in auditing Care Plan documentation, to ensure best practice. Communication Maintain effective communications with the Home Manager. <br>
        As requested by, and/or in the absence of, the Home Manager maintain effective communications with Clients, Relatives, Staff Members, Operations Manager, Divisional Office and any other concerned bodies. <br>
        Obtain a report from the Person in Charge, and advise the Home Manager, regarding any incident / accident, and the status of any Clients whose care / health is causing concern. <br>
        Supervise visits and liaise with GPs in order to establish a good relationship between GPs / Health Care Professionals and the Care Centre. <br>
        Arrange / participate in Staff and Client meetings as and when required. <br>
        Budgetary / Financial Control Manage, monitor and maintain budgets agreed by the Home Manager and Divisional Office. <br>
        Where necessary, in the absence of the Home Manager, take corrective action in conjunction with the Operations Manager. <br>
        Human Resources (HR) Adhere to, and implement, all HR policies & procedures. <br>
        In the absence of the Home Manager, in conjunction with the Operations Manager, endeavour to fill any Staff vacancy by advertising in the job centre or by contacting the HR Department. <br>
        Interview for new Staff Members with the Home Manager as and when required, in line with the Company’s Recruitment policy. <br>
        In the absence of the Home Manager, maintain correct records of working hours of all Staff Members. <br>
        Ensure all Staff Members are aware of the Company’s Whistleblowing procedure. <br>
        Implement and initiate training for all Staff Members on the Company’s Equal Opportunities policy. <br>
        In the absence of the Administrator and Home Manager, ensure continuity of the Payroll. <br>
        Marketing In the absence of the Home Manager, and in conjunction with the Operations Manager, endeavour to fill any Client vacancy by liaising with Social Services and health authorities/boards and assessing/selecting suitable Clients. <br>
        (These places are to be offered within the normal terms of residency and the fee structure in operation within the Care Centre at the time). <br>
        Ensure a viewing room is suitably presented and available at all times (unless Care Centre is fully occupied). <br>
        Training and Development Attend mandatory training days/courses, on or off site, as and when required. <br>
        Clinical Lead Job Middlesex
    </p>
</div>
</div>
{% endblock %}