{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Healthcare Assistant Job Chelmsford </h1>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Healthcare Assistant Job Chelmsford Must have minimum of 6 months experience working in the care sector. <br>
        Valid driving license is required also and NVQ Level 2 or **** would be a advantage. <br>
        Duties are to provide personal and social care and any other associated tasks as required. <br>
        Immediate start available. <br>
        Successful applicants are required to provide an enhanced disclosure. <br>
        Disclosure expense will be met by applicant. <br>
    </p>
</div>
</div>
{% endblock %}