{% extends "base.html" %}

{% block links %}
  <a href="/login">Login</a>
{% endblock %}

{% block body %}
<div id="main">
  <div class="jumbotron jumbotron-bg text-center">
    <h1 id="data-title"> Health Care Assistant Jobs Reading </h1>
  </div>

  <div class="data-job content-container" id="data-content">
    <h1>Job Details</h1>
    <br/>
    <p>
        Swanstaff Recruitment are currently looking to take on a team of Health Care Professionals in Reading to support and assist Elderly service users in residential / nursing care homes and to support children / young adults with learning disabilities to promote independent living. <br>
        Ideal candidates will need: Minimum of NVQ**** Own transport Flexibility with availability to work Previous experience necessary Valid Mandatory training certificates are required 
        If you feel you are suited to this post please click apply today. <br>
    </p>
</div>
</div>
{% endblock %}